//Screen size
$screen-xs-min: 575px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl: 1200px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

//Primary
$Desaturated-red: hsl(0, 36%, 70%);
$Soft-red: hsl(0, 93%, 68%);

//Neutral
$Dark-grayish-red: hsl(0, 6%, 24%);